<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Ação Necessária] Seu Treinamento XYZ Ainda Não Foi Concluído</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

  <span style="
    font-family: 'TeleNeo Office', sans-serif; 
    text-align: justify;
    font-size: 14px;
    color: black;">
    
    Olá, <strong style="color: #280120">{colaborador}</strong>! 👋
    <br>
    A segurança e a estabilidade dos nossos serviços começa com você! 
    O treinamento <strong>XYZ</strong> é fundamental para garantir a continuidade dos negócios e reduzir incidentes.
    <br><br>
    <strong style="color: #CC0033">Não recebemos seu certificado, então entendemos que seu treinamento ainda não foi concluído.</strong>
    <br><br>
    Por que isso é importante?<br>
    🔹 Evita riscos operacionais e incidentes críticos.<br>
    🔹 Garante conformidade com as diretrizes internas.<br>
    🔹 Demonstra seu compromisso com a excelência e segurança.
    <br><br>
    Em anexo segue passo a passo para a realização do treinamento.
    <br><br>
    Caso já tenha finalizado, desconsidere este e-mail. Se precisar de suporte, procure <a href="mailto:email@suporte.com">email@suporte.com</a>!
    <br><br>
    Atenciosamente,<br>
    <strong style="color: #280120">Área responsável</strong>

  </span>
    
</body>
</html>