<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Relatório Quinzenal] Status do Treinamento XYZ – {area}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

  <span style="
    font-family: 'TeleNeo Office', sans-serif; 
    text-align: justify;

    font-size: 12px;
    color: black;">
    
    Olá, <strong style="color: #280120">{gestor}</strong>!
    <br>
    Segue o status atualizado do <strong>Treinamento XYZ</strong> para sua equipe nesta semana.
    <br><br>
    <table role="presentation" cellspacing="0" cellpadding="0" style="font-size: 12px; height: 100%; color: white; border-collapse: collapse; border: 1px dotted #280120; max-width: 100%; margin-left: 0;">
      <!-- Linha -->
      <tr>
        <th style="background-color: #280120; height: 15%; text-align: center; vertical-align: middle; border: 1px dotted white; padding: 5px;">Colaboradores<br>pendentes</th>
        <th style="background-color: #280120; height: 15%; text-align: center; vertical-align: middle; border: 1px dotted white; padding: 5px;">% de conclusão<br>na sua área</th>
        <th style="background-color: #280120; height: 15%; text-align: center; vertical-align: middle; border: 1px dotted white; padding: 5px;">Média de cobranças enviadas<br>por colaborador</th>
        <th style="background-color: #280120; height: 15%; text-align: center; vertical-align: middle; border: 1px dotted white; padding: 5px;">% de evolução em relação<br>à última semana</th>
      </tr>
      <!-- Linha -->
      <tr>
        <td style="background-color: white; height: 15%; text-align: center; vertical-align: middle; color: black; border: 1px dotted #280120; padding: 5px;">{qtd_pendentes}</td>
        <td style="background-color: white; height: 15%; text-align: center; vertical-align: middle;  color: black; border: 1px dotted #280120; padding: 5px;">{perc_conclusao}</td>
        <td style="background-color: white; height: 15%; text-align: center; vertical-align: middle;  color: black; border: 1px dotted #280120; padding: 5px;">{med_cobrancas}</td>
        <td style="background-color: white; height: 15%; text-align: center; vertical-align: middle;  color: black; border: 1px dotted #280120; padding: 5px;">{perc_evolucao_atual}</td>
      </tr>
    </table>
    <br>
    Próximos Passos:<br>
    🔹 <strong>Acompanhe os colaboradores pendentes:</strong>  Veja a lista detalhada no relatório em anexo.<br>
    🔹 <strong>Reforce a importância do treinamento:</strong> Incentive sua equipe a concluir o quanto antes.
    <br><br>
    Qualquer dúvida, estamos à disposição!
    <br><br>
    Atenciosamente,<br>
    <strong style="color: #280120">Área responsável</strong>

  </span>
    
</body>
</html>